/**
   [ FACTORISATION DU CSS DE DESIGN. ]

    Principe : créer des formes complexes.
*/





.dashed-white-box, .solid-white-box {
    background-color: white;
}

.solid-box-1, .solid-box-2 {
    background-color: rgba(220,220,220, 0.5);
}




.dashed-white-box, .solid-white-box {
    padding: 10px;
}

.dashed-white-box {
    border: 2px dashed #004C99;
}

.solid-white-box {
    border: 1px solid #004C99;
}

.dashed-box-1 {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}

.dashed-box-2 {
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
}

.solid-box-1, .solid-box-2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.solid-box-2  {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}