/**
   [ FACTORISATION DU CSS DE PROPERTY. ]

    Principe : une classe pour une propriété css.
    Et quelques fois des concepts plus complexes.
 */



.ch-unviewable > *, .unviewable {
    display: none;
}

.ch-viewable > *, .viewable {
    display: flex;
}


.ch-undecorated > *, .ch-margin-null > *, .undecorated, .margin-null {
    margin: 0;
}

.ch-undecorated > *, .ch-padding-null > *, .undecorated, .padding-null {
   padding: 0;
}

.ch-undecorated > *, .ch-border-null> *, .undecorated, .border-null {
    border: 0;
}



.ch-padding-r-null > *, .padding-r-null {
    padding-right: 0;
}

.ch-padding-l-null > *, .padding-l-null {
    padding-left: 0;
}

.ch-padding-t-null > *, .padding-t-null {
    padding-top: 0;
}

.ch-padding-b-null > *, .padding-b-null {
    padding-bottom: 0;
}



.ch-margin-r-null > *, .margin-r-null {
    margin-right: 0;
}

.ch-margin-l-null > *, .margin-l-null {
    margin-left: 0;
}

.ch-margin-t-null > *, .margin-t-null {
    margin-top: 0;
}

.ch-margin-t-null > *, .margin-t-null {
    margin-bottom: 0;
}



.ch-width-null > *, .width-null {
    width: 0;
}

.ch-height-null > *, .height-null {
    height: 0;
}


.ch-width-full > *, .width-full {
    width: 100%;
}

.ch-height-full > *, .height-full {
    height: 100%;
}


.ch-font-b > *, .font-b {
    font-weight: bold;
}

.ch-font-i > *, .font-i {
    font-style: italic;
}

.ch-font-u > *, .font-u {
    text-decoration: underline;
}

.ch-font-c > *, .font-c, .ch-text-center > *, .text-center {
    text-align: center;
}

.ch-font-r > *, .font-r {
    text-align: right;
}

.ch-font-l > *, .font-l {
    text-align: left;
}

.ch-font-j > *, .font-j {
    text-align: justify;
}

.ch-font-up > *, .font-up {
    text-transform: uppercase;
}

.ch-font-lo > *, .font-lo {
    text-transform: lowercase;
}

.ch-font-ca > *, .font-ca {
    text-transform: capitalize;
}




.ch-shadow-white-1 > *, .shadow-white-1 {
    box-shadow: 0 0 5px white;
}

.ch-shadow-white-2 > *, .shadow-white-2 {
    box-shadow: 0 0 10px white;
}

.ch-shadow-black-1 > *, .shadow-black-1 {
    box-shadow: 0 0 5px black;
}

.ch-shadow-black-2 > *, .shadow-black-2 {
    box-shadow: 0 0 10px black;
}

.ch-shadow-red-1 > *, .shadow-red-1 {
    box-shadow: 0 0 5px red;
}

.ch-shadow-red-2 > *, .shadow-red-2 {
    box-shadow: 0 0 10px red;
}

.ch-shadow-orange-1 > *, .shadow-orange-1 {
    box-shadow: 0 0 5px orange;
}

.ch-shadow-orange-2 > *, .shadow-orange-2 {
    box-shadow: 0 0 10px orange;
}

.ch-shadow-green-1 > *, .shadow-green-1 {
    box-shadow: 0 0 5px green;
}

.ch-shadow-green-2 > *, .shadow-green-2 {
    box-shadow: 0 0 10px green;
}

.ch-shadow-blue-1 > *, .shadow-blue-1 {
    box-shadow: 0 0 5px blue;
}

.ch-shadow-blue-2 > *, .shadow-blue-2 {
    box-shadow: 0 0 10px blue;
}

.ch-shadow-blue-3 > *, .shadow-blue-3 {
    box-shadow: 0 0 20px blue;
}

.ch-shadow-blue-4 > *, .shadow-blue-4 {
    box-shadow: 0 0 30px blue;
}






.ch-border-dashed-bl-1 > *, .border-dashed-bl-1 {
    border: 1px dashed black;
}

.ch-border-dashed-bl-2 > *, .border-dashed-bl-2 {
    border: 2px dashed black;
}

.ch-border-dashed-w-1 > *, .border-dashed-w-1 {
    border: 1px dashed white;
}

.ch-border-dashed-w-2 > *, .border-dashed-w-2 {
    border: 2px dashed white;
}

.ch-border-dashed-g-1 > *, .border-dashed-g-1 {
    border: 1px dashed green;
}

.ch-border-dashed-r-1 > *, .border-dashed-r-1 {
    border: 1px dashed red;
}
.ch-border-dashed-b-1 > *, .border-dashed-b-1 {
    border: 1px dashed blue;
}

.ch-border-dashed-b-2 > *, .border-dashed-b-2 {
    border: 2px dashed blue;
}

.ch-border-dashed-b-3 > *, .border-dashed-b-3 {
    border: 3px dashed blue;
}

.ch-border-dashed-lb-1 > *, .border-dashed-lb-1 {
    border: 1px dashed #004C99;
}

.ch-border-dashed-lb-2 > *, .border-dashed-lb-2 {
    border: 2px dashed #004C99;
}



.ch-border-solid-w-1 > *, .border-solid-w-1 {
    border: 1px solid white;
}

.ch-border-solid-w-2 > *, .border-solid-w-2 {
    border: 2px solid white;
}

.ch-border-solid-bl-1 > *, .border-solid-bl-1 {
    border: 1px solid black;
}

.ch-border-solid-bl-2 > *, .border-solid-bl-2 {
    border: 2px solid black;
}

.ch-border-solid-g-1 > *, .border-solid-g-1 {
    border: 1px solid green;
}

.ch-border-solid-r-1 > *, .border-solid-r-1 {
    border: 1px solid red;
}

.ch-border-solid-o-1 > *, .border-solid-o-1 {
    border: 1px solid orange;
}

.ch-border-solid-b-1 > *, .border-solid-b-1 {
    border: 1px solid blue;
}

.ch-border-solid-b-2  *>, .border-solid-b-2 {
    border: 2px solid blue;
}

.ch-border-solid-lb-1 > *, .border-solid-lb-1 {
    border: 1px solid #004C99;
}

.ch-border-solid-lb-2 > *, .border-solid-lb-2 {
    border: 2px solid #004C99;
}


.ch-b-gradient-lb > *, .b-gradient-lb {
    background:  linear-gradient(#004C99, white);
}

.ch-b-gradient-b > *, .b-gradient-b {
    background:  linear-gradient(blue, white);
}

.ch-b-gradient-g > *, .b-gradient-g {
    background:  linear-gradient(green, white);
}

.ch-b-gradient-r > *, .b-gradient-r {
    background:  linear-gradient(red, white);
}







.ch-font-1 > *, .font-1 {
    font-size: 12px;
}

.ch-font-2 > *, .font-2 {
    font-size: 14px;
}

.ch-font-3 > *, .font-3 {
    font-size: 16px;
}

.ch-font-4 > *, .font-4 {
    font-size: 18px;
}

.ch-font-5 > *, .font-5 {
    font-size: 20px;
}

.ch-font-6 > *, .font-6 {
    font-size: 22px;
}

.ch-font-7 > *, .font-7 {
    font-size: 24px;
}

.ch-font-8 > *, .font-8 {
    font-size: 26px;
}

.ch-font-9 > *, .font-9 {
    font-size: 28px;
}

.ch-font-10 > *, .font-10 {
    font-size: 30px;
}







.ch-width-1-1 > *, .width-1-1 {
     width : 10px;
 }

.ch-width-1-2 > *, .width-1-2 {
    width : 20px;
}

.ch-width-1-3 > *, .width-1-3 {
    width : 30px;
}

.ch-width-1-4 > *, .width-1-4 {
    width : 40px;
}

.ch-width-1-5 > *, .width-1-5 {
    width : 50px;
}

.ch-width-1-6 > *, .width-1-6 {
    width : 60px;
}

.ch-width-1-7 > *, .width-1-7 {
    width : 70px;
}

.ch-width-1-8 > *, .width-1-8 {
    width : 80px;
}

.ch-width-1-9 > *, .width-1-9 {
    width : 90px;
}

.ch-width-1-10 > *, .width-1-10 {
    width : 100px;
}

.ch-width-2 > *, .width-2 {
    width : 200px;
}

.ch-width-3 > *, .width-3 {
    width : 300px;
}

.ch-width-4 > *, .width-4 {
    width : 400px;
}

.ch-width-5 > *, .width-5 {
    width : 500px;
}

.ch-width-6 > *, .width-6 {
    width : 600px;
}

.ch-width-7 > *, .width-7 {
    width : 700px;
}

.ch-width-8 > *, .width-8 {
    width : 800px;
}

.ch-width-9 > *, .width-9 {
    width : 900px;
}

.ch-width-10 > *, .width-10 {
    width : 1000px;
}






.ch-height-1-1 > *, .height-1-1 {
    height : 10px;
}

.ch-height-1-2 > *, .height-1-2 {
    height : 20px;
}

.ch-height-1-3 > *, .height-1-3 {
    height : 30px;
}

.ch-height-1-4 > *, .height-1-4 {
    height : 40px;
}

.ch-height-1-5 > *, .height-1-5 {
    height : 50px;
}

.ch-height-1-6 > *, .height-1-6 {
    height : 60px;
}

.ch-height-1-7 > *, .height-1-7 {
    height : 70px;
}

.ch-height-1-8 > *, .height-1-8 {
    height : 80px;
}

.ch-height-1-9 > *, .height-1-9 {
    height : 90px;
}

.ch-height-1-10 > *, .height-1-10 {
    height : 100px;
}

.ch-height-2 > *, .height-2 {
    height : 200px;
}

.ch-height-3 > *, .height-3 {
    height : 300px;
}

.ch-height-4 > *, .height-4 {
    height : 400px;
}

.ch-height-5 > *, .height-5 {
    height : 500px;
}

.ch-height-6 > *, .height-6 {
    height : 600px;
}

.ch-height-7 > *, .height-7 {
    height : 700px;
}

.ch-height-8 > *, .height-8 {
    height : 800px;
}

.ch-height-9 > *, .height-9 {
    height : 900px;
}

.ch-height-10 > *, .height-10 {
    height : 1000px;
}





.ch-margin-1 > *, .margin-1,
.ch-margin-v-1 > *, .ch-margin-b-1 > *, .margin-v-1, .margin-b-1 {
     margin-bottom: 5px;
}

.ch-margin-2 > *, .margin-2,
.ch-margin-v-2 > *, .ch-margin-b-2 > *, .margin-v-2, .margin-b-2 {
    margin-bottom: 10px;
}

.ch-margin-3 > *, .margin-3,
.ch-margin-v-3 > *, .ch-margin-b-3 > *, .margin-v-3, .margin-b-3 {
    margin-bottom: 20px;
}

.ch-margin-4 > *, .margin-4,
.ch-margin-v-4 > *, .ch-margin-b-4 > *, .margin-v-4, .margin-b-4 {
    margin-bottom: 30px;
}

.ch-margin-5 > *, .margin-5,
.ch-margin-v-5 > *, .ch-margin-b-5 > *, .margin-v-5, .margin-b-5 {
    margin-bottom: 40px;
}

.ch-margin-6 > *, .margin-6,
.ch-margin-v-6 > *, .ch-margin-b-6 > *, .margin-v-6, .margin-b-6 {
    margin-bottom: 50px;
}




.ch-margin-1 > *, .margin-1,
.ch-margin-v-1 > *, .ch-margin-t-1 > *, .margin-v-1, .margin-t-1 {
    margin-top: 5px;
}

.ch-margin-2 > *, .margin-2,
.ch-margin-v-2 > *, .ch-margin-t-2 > *, .margin-v-2, .margin-t-2 {
    margin-top: 10px;
}

.ch-margin-3 > *, .margin-3,
.ch-margin-v-3 > *, .ch-margin-t-3 > *, .margin-v-3, .margin-t-3 {
    margin-top: 20px;
}

.ch-margin-4 > *, .margin-4,
.ch-margin-v-4 > *, .ch-margin-t-4 > *, .margin-v-4, .margin-t-4 {
    margin-top: 30px;
}

.ch-margin-5 > *, .margin-5,
.ch-margin-v-5 > *, .ch-margin-t-5 > *, .margin-v-5, .margin-t-5 {
    margin-top: 40px;
}

.ch-margin-6 > *, .margin-6,
.ch-margin-v-6 > *, .ch-margin-t-6 > *, .margin-v-6, .margin-t-6 {
    margin-top: 50px;
}



.ch-margin-1 > *, .margin-1,
.ch-margin-h-1 > *, .ch-margin-r-1 > *, .margin-h-1, .margin-r-1 {
    margin-right: 5px;
}

.ch-margin-2 > *, .margin-2,
.ch-margin-h-2 > *, .ch-margin-r-2 > *, .margin-h-2, .margin-r-2 {
    margin-right: 10px;
}

.ch-margin-3 > *, .margin-3,
.ch-margin-h-3 > *, .ch-margin-r-3 > *, .margin-h-3, .margin-r-3 {
    margin-right: 20px;
}

.ch-margin-4 > *, .margin-4,
.ch-margin-h-4 > *, .ch-margin-r-4 > *, margin-h-4, .margin-r-4 {
    margin-right: 30px;
}

.ch-margin-5 > *, .margin-5,
.ch-margin-h-5 > *, .ch-margin-r-5 > *, .margin-h-5, .margin-r-5 {
    margin-right: 40px;
}

.ch-margin-6 > *, .margin-6,
.ch-margin-h-6 > *, .ch-margin-r-6 > *, .margin-h-6, .margin-r-6 {
    margin-right: 50px;
}



.ch-margin-1 > *, .margin-1,
.ch-margin-h-1 > *, .ch-margin-l-1 > *, .margin-h-1, .margin-l-1 {
    margin-left: 5px;
}

.ch-margin-2 > *, .margin-2,
.ch-margin-h-2 > *, .ch-margin-l-2 > *, .margin-h-2, .margin-l-2 {
    margin-left: 10px;
}

.ch-margin-3 > *, .margin-3,
.ch-margin-h-3 > *, .ch-margin-l-3 > *, .margin-h-3, .margin-l-3 {
    margin-left: 20px;
}

.ch-margin-4 > *, .margin-4,
.ch-margin-h-4 > *, .ch-margin-l-4 > *, .margin-h-4, .margin-l-4 {
    margin-left: 30px;
}

.ch-margin-5 > *, .margin-5,
.ch-margin-h-5 > *, .ch-margin-l-5 > *, .margin-h-5, .margin-l-5 {
    margin-left: 40px;
}

.ch-margin-6 > *, .margin-6,
.ch-margin-h-6 > *, .ch-margin-l-6 > *, .margin-h-6, .margin-l-6 {
    margin-left: 50px;
}



.ch-margin-7 > *, .margin-7 {
    margin: 60px;
}

.ch-margin-8 > *, .margin-8 {
    margin: 70px;
}

.ch-margin-9 > *, .margin-9 {
    margin: 80px;
}

.ch-margin-10 > *, .margin-10 {
    margin: 90px;
}

.ch-margin-11 > *, .margin-11 {
    margin: 100px;
}







.ch-padding-1 > *, .padding-1,
.ch-padding-v-1 > *, .ch-padding-b-1 > *, .padding-v-1, .padding-b-1 {
    padding-bottom: 5px;
}

.ch-padding-2 > *, .padding-2,
.ch-padding-v-2 > *, .ch-padding-b-2 > *, .padding-v-2, .padding-b-2 {
    padding-bottom: 10px;
}

.ch-padding-3 > *, .padding-3,
.ch-padding-v-3 > *, .ch-padding-b-3 > *, .padding-v-3, .padding-b-3 {
    padding-bottom: 20px;
}

.ch-padding-4 > *, .padding-4,
.ch-padding-v-4 > *, .ch-padding-b-4 > *, .padding-v-4, .padding-b-4 {
    padding-bottom: 30px;
}

.ch-padding-5 > *, .padding-5,
.ch-padding-v-5 > *, .ch-padding-b-5 > *, .padding-v-5, .padding-b-5 {
    padding-bottom: 40px;
}

.ch-padding-6 > *, .padding-6,
.ch-padding-v-6 > *, .ch-padding-b-6 > *, .padding-v-6, .padding-b-6 {
    padding-bottom: 50px;
}




.ch-padding-1 > *, .padding-1,
.ch-padding-v-1 > *, .ch-padding-t-1 > *, .padding-v-1, .padding-t-1 {
    padding-top: 5px;
}

.ch-padding-2 > *, .padding-2,
.ch-padding-v-2 > *, .ch-padding-t-2 > *, .padding-v-2, .padding-t-2 {
    padding-top: 10px;
}

.ch-padding-3 > *, .padding-3,
.ch-padding-v-3 > *, .ch-padding-t-3 > *, .padding-v-3, .padding-t-3 {
    padding-top: 20px;
}

.ch-padding-4 > *, .padding-4,
.ch-padding-v-4 > *, .ch-padding-t-4 > *, .padding-v-4, .padding-t-4 {
    padding-top: 30px;
}

.ch-padding-5 > *, .padding-5,
.ch-padding-v-5 > *, .ch-padding-t-5 > *, .padding-v-5, .padding-t-5 {
    padding-top: 40px;
}

.ch-padding-6 > *, .padding-6,
.ch-padding-v-6 > *, .ch-padding-t-6 > *, .padding-v-6, .padding-t-6 {
    padding-top: 50px;
}



.ch-padding-1 > *, .padding-1,
.ch-padding-h-1 > *, .ch-padding-r-1 > *, .padding-h-1, .padding-r-1 {
    padding-right: 5px;
}

.ch-padding-2 > *, .padding-2,
.ch-padding-h-2 > *, .ch-padding-r-2 > *, .padding-h-2, .padding-r-2 {
    padding-right: 10px;
}

.ch-padding-3 > *, .padding-3,
.ch-padding-h-3 > *, .ch-padding-r-3 > *, .padding-h-3, .padding-r-3 {
    padding-right: 20px;
}

.ch-padding-4 > *, .padding-4,
.ch-padding-h-4 > *, .ch-padding-r-4 > *, .padding-h-4, .padding-r-4 {
    padding-right: 30px;
}

.ch-padding-5 > *, .padding-5,
.ch-padding-h-5 > *, .ch-padding-r-5 > *, .padding-h-5, .padding-r-5 {
    padding-right: 40px;
}

.ch-padding-6 > *, .padding-6,
.ch-padding-h-6 > *, .ch-padding-r-6 > *, .padding-h-6, .padding-r-6 {
    padding-right: 50px;
}



.ch-padding-1 > *, .padding-1,
.ch-padding-h-1 > *, .ch-padding-l-1 > *, .padding-h-1, .padding-l-1 {
    padding-left: 5px;
}

.ch-padding-2 > *, .padding-2,
.ch-padding-h-2 > *, .ch-padding-l-2 > *, .padding-h-2, .padding-l-2 {
    padding-left: 10px;
}

.ch-padding-3 > *, .padding-3,
.ch-padding-h-3 > *, .ch-padding-l-3 > *, .padding-h-3, .padding-l-3 {
    padding-left: 20px;
}

.ch-padding-4 > *, .padding-4,
.ch-padding-h-4 > *, .ch-padding-l-4 > *, .padding-h-4, .padding-l-4 {
    padding-left: 30px;
}

.ch-padding-5 > *, .padding-5,
.ch-padding-h-5 > *, .ch-padding-l-5 > *, .padding-h-5, .padding-l-5 {
    padding-left: 40px;
}

.ch-padding-6 > *, .padding-6,
.ch-padding-h-6 > *, .ch-padding-l-6 > *, .padding-h-6, .padding-l-6 {
    padding-left: 50px;
}



.ch-padding-7 > *, .padding-7 {
    padding: 60px;
}

.ch-padding-8 > *, .padding-8 {
    padding: 70px;
}

.ch-padding-9 > *, .padding-9 {
    padding: 80px;
}

.ch-padding-10 > *, .padding-10 {
    padding: 90px;
}

.ch-padding-11 > *, .padding-11 {
    padding: 100px;
}









.ch-radius-1 > *, .radius-1, .ch-radius-t-1 > *, .radius-t-1,
.ch-radius-t-l-1 > *, .ch-radius-l-1 > *, .radius-t-l-1, .radius-l-1 {
   border-top-left-radius: 5px;
}

.ch-radius-2 > *, .radius-2, .ch-radius-t-2 > *, .radius-t-2,
.ch-radius-t-l-2 > *, .ch-radius-l-2 > *, .radius-t-l-2, .radius-l-2 {
    border-top-left-radius: 10px;
}

.ch-radius-3 > *, .radius-3, .ch-radius-t-3 > *, .radius-t-3,
.ch-radius-t-l-3 > *, .ch-radius-l-3 > *, .radius-t-l-3, .radius-l-3 {
    border-top-left-radius: 20px;
}

.ch-radius-4 > *, .radius-4, .ch-radius-t-4 > *, .radius-t-4,
.ch-radius-t-l-4 > *, .ch-radius-l-4 > *, .radius-t-l-4, .radius-l-4 {
    border-top-left-radius: 30px;
}

.ch-radius-5 > *, .radius-5, .ch-radius-t-5 > *, .radius-t-5,
.ch-radius-t-l-5 > *, .ch-radius-l-5 > *, .radius-t-l-5, .radius-l-5 {
    border-top-left-radius: 40px;
}

.ch-radius-6 > *, .radius-6, .ch-radius-t-6 > *, .radius-t-6,
.ch-radius-t-l-6 > *, .ch-radius-l-6 > *, .radius-t-l-6, .radius-l-6 {
    border-top-left-radius: 50px;
}



.ch-radius-1 > *, .radius-1, .ch-radius-t-1 > *, .radius-t-1,
.ch-radius-t-r-1 > *, .ch-radius-r-1 > *, .radius-t-r-1, .radius-r-1 {
    border-top-right-radius: 5px;
}

.ch-radius-2 > *, .radius-2, .ch-radius-t-2 > *, .radius-t-2,
.ch-radius-t-r-2 > *, .ch-radius-r-2 > *, .radius-t-r-2, .radius-r-2 {
    border-top-right-radius: 10px;
}

.ch-radius-3 > *, .radius-3, .ch-radius-t-3 > *, .radius-t-3,
.ch-radius-t-r-3 > *, .ch-radius-r-3 > *, .radius-t-r-3, .radius-r-3 {
    border-top-right-radius: 20px;
}

.ch-radius-4 > *, .radius-4, .ch-radius-t-4 > *, .radius-t-4,
.ch-radius-t-r-4 > *, .ch-radius-r-4 > *, .radius-t-r-4, .radius-r-4 {
    border-top-right-radius: 30px;
}

.ch-radius-5 > *, .radius-5, .ch-radius-t-5 > *, .radius-t-5,
.ch-radius-t-r-5 > *, .ch-radius-r-5 > *, .radius-t-r-5, .radius-r-5 {
    border-top-right-radius: 40px;
}

.ch-radius-6 > *, .radius-6, .ch-radius-t-6 > *, .radius-t-6,
.ch-radius-t-r-6 > *, .ch-radius-r-6 > *, .radius-t-r-6, .radius-r-6 {
    border-top-right-radius: 50px;
}



.ch-radius-1 > *, .radius-1, .ch-radius-b-1 > *, .radius-b-1,
.ch-radius-b-l-1 > *, .ch-radius-l-1 > *, .radius-b-l-1, .radius-l-1 {
    border-bottom-left-radius: 5px;
}

.ch-radius-2 > *, .radius-2, .ch-radius-b-2 > *, .radius-b-2,
.ch-radius-b-l-2 > *, .ch-radius-l-2 > *, .radius-b-l-2, .radius-l-2 {
    border-bottom-left-radius: 10px;
}

.ch-radius-3 > *, .radius-3, .ch-radius-b-3 > *, .radius-b-3,
.ch-radius-b-l-3 > *, .ch-radius-l-3 > *, .radius-b-l-3, .radius-l-3 {
    border-bottom-left-radius: 20px;
}

.ch-radius-4 > *, .radius-4, .ch-radius-b-4 > *, .radius-b-4,
.ch-radius-b-l-4 > *, .ch-radius-l-4 > *, .radius-b-l-4, .radius-l-4 {
    border-bottom-left-radius: 30px;
}

.ch-radius-5 > *, .radius-5, .ch-radius-b-5 > *, .radius-b-5,
.ch-radius-b-l-5 > *, .ch-radius-l-5 > *, .radius-b-l-5, .radius-l-5 {
    border-bottom-left-radius: 40px;
}

.ch-radius-6 > *, .radius-6, .ch-radius-b-6 > *, .radius-b-1-6,
.ch-radius-b-l-6 > *, .ch-radius-l-6 > *, .radius-b-l-6, .radius-l-6 {
    border-bottom-left-radius: 50px;
}



.ch-radius-1 > *, .radius-1, .ch-radius-b-1 > *, .radius-b-1,
.ch-radius-b-r-1 > *, .ch-radius-r-1 > *, .radius-b-r-1, .radius-r-1 {
    border-bottom-right-radius: 5px;
}

.ch-radius-2 > *, .radius-2, .ch-radius-b-2 > *, .radius-b-2,
.ch-radius-b-r-2 > *, .ch-radius-r-2 > *, .radius-b-r-2, .radius-r-2 {
    border-bottom-right-radius: 10px;
}

.ch-radius-3 > *, .radius-3, .ch-radius-b-3 > *, .radius-b-3,
.ch-radius-b-r-3 > *, .ch-radius-r-3 > *, .radius-b-r-3, .radius-r-3 {
    border-bottom-right-radius: 20px;
}

.ch-radius-4 > *, .radius-4,.ch-radius-b-4 > *, .radius-b-4,
.ch-radius-b-r-4 > *, .ch-radius-r-4 > *, .radius-b-r-4, .radius-r-4 {
    border-bottom-right-radius: 30px;
}

.ch-radius-5 > *, .radius-5, .ch-radius-b-5 > *, .radius-b-5,
.ch-radius-b-r-5 > *, .ch-radius-r-5 > *, .radius-b-r-5, .radius-r-5 {
    border-bottom-right-radius: 40px;
}

.ch-radius-6 > *, .radius-6, .ch-radius-b-6 > *, .radius-b-6,
.ch-radius-b-r-6 > *, .ch-radius-r-6 > *, .radius-b-r-6, .radius-r-6 {
    border-bottom-right-radius: 50px;
}



.ch-radius-7 > *, .radius-7 {
    border-radius: 60px;
}

.ch-radius-8 > *, .radius-8 {
    border-radius: 70px;
}

.ch-radius-9 > *, .radius-9 {
    border-radius: 80px;
}

.ch-radius-10 > *, .radius-10 {
    border-radius: 90px;
}

.ch-radius-11 > *, .radius-11 {
    border-radius: 100px;
}








.ch-rotate-1 > *, .rotate-1 {
    transform: rotate(10deg);
}

.ch-rotate-2 > *, .rotate-2 {
    transform: rotate(20deg);
}

.ch-rotate-3 > *, .rotate-3 {
    transform: rotate(30deg);
}

.ch-rotate-4 > *, .rotate-4 {
    transform: rotate(40deg);
}

.ch-rotate-5 > *, .rotate-5 {
    transform: rotate(50deg);
}

.ch-rotate-6 > *, .rotate-6 {
    transform: rotate(60deg);
}

.ch-rotate-7 > *, .rotate-7 {
    transform: rotate(70deg);
}

.ch-rotate-8 > *, .rotate-8 {
    transform: rotate(80deg);
}

.ch-rotate-9 > *, .rotate-9 {
    transform: rotate(90deg);
}

.ch-rotate-10 > *, .rotate-10 {
    transform: rotate(100deg);
}

.ch-rotate-11 > *, .rotate-11 {
    transform: rotate(110deg);
}

.ch-rotate-12 > *, .rotate-12 {
    transform: rotate(120deg);
}

.ch-rotate-13 > *, .rotate-13 {
    transform: rotate(130deg);
}

.ch-rotate-14 > *, .rotate-14 {
    transform: rotate(140deg);
}

.ch-rotate-15 > *, .rotate-15 {
    transform: rotate(150deg);
}

.ch-rotate-16 > *, .rotate-16 {
    transform: rotate(160deg);
}

.ch-rotate-17 > *, .rotate-17 {
    transform: rotate(170deg);
}

.ch-rotate-18 > *, .rotate-18 {
    transform: skew(180deg);
}






.ch-skew-1 > *, .skew-1 {
    transform: skew(10deg, 10deg);
}

.ch-skew-2 > *, .skew-2 {
    transform: skew(20deg, 20deg);
}

.ch-skew-3 > *, .skew-3 {
    transform: skew(30deg, 30deg);
}

.ch-skew-4 > *, .skew-4 {
    transform: skew(40deg, 40deg);
}

.ch-skew-5 > *, .skew-5 {
    transform: skew(50deg, 50deg);
}

.ch-skew-6 > *, .skew-6 {
    transform: skew(60deg, 60deg);
}

.ch-skew-7 > *, .skew-7 {
    transform: skew(70deg, 70deg);
}

.ch-skew-8 > *, .skew-8 {
    transform: skew(80deg, 80deg);
}

.ch-skew-9 > *, .skew-9 {
    transform: skew(90deg, 90deg);
}

.ch-skew-10 > *, .skew-10 {
    transform: skew(100deg, 100deg);
}

.ch-skew-11 > *, .skew-11 {
    transform: skew(110deg, 110deg);
}

.ch-skew-12 > *, .skew-12 {
    transform: skew(120deg, 120deg);
}

.ch-skew-13 > *, .skew-13 {
    transform: skew(130deg, 130deg);
}

.ch-skew-14 > *, .skew-14 {
    transform: skew(140deg, 140deg);
}

.ch-skew-15 > *, .skew-15 {
    transform: skew(150deg, 150deg);
}

.ch-skew-16 > *, .skew-16 {
    transform: skew(160deg, 160deg);
}

.ch-skew-17 > *, .skew-17 {
    transform: skew(170deg, 170deg);
}

.ch-skew-18 > *, .skew-18 {
    transform: skew(180deg, 180deg);
}







.ch-scale-0 > *, .scale-0 {
    transform: scale(0, 0);
}

.ch-scale-061 > *, .scale-0-1 {
    transform: scale(0.1, 0.1);
}

.ch-scale-0-2 > *, .scale-0-2 {
    transform: scale(0.2, 0.2);
}

.ch-scale-0-3 > *, .scale-0-3 {
    transform: scale(0.3, 0.3);
}

.ch-scale-0-4 > *, .scale-0-4 {
    transform: scale(0.4, 0.4);
}

.ch-scale-0-5 > *, .scale-0-5 {
    transform: scale(0.5, 0.5);
}

.ch-scale-0-6 > *, .scale-0-6 {
    transform: scale(0.6, 0.6);
}

.ch-scale-0-7 > *, .scale-0-7 {
    transform: scale(0.7, 0.7);
}

.ch-scale-0-8 > *, .scale-0-8 {
    transform: scale(0.8, 0.8);
}

.ch-scale-0-9 > *, .scale-0-9 {
    transform: scale(0.9, 0.9);
}



.ch-scale-1 > *, .scale-1 {
     transform: scale(1, 1);
 }

.ch-scale-1-1 > *, .scale-1-1 {
    transform: scale(1.1, 1.1);
}

.ch-scale-1-2 > *, .scale-1-2 {
    transform: scale(1.2, 1.2);
}

.ch-scale-1-3 > *, .scale-1-3 {
    transform: scale(1.3, 1.3);
}

.ch-scale-1-4 > *, .scale-1-4 {
    transform: scale(1.4, 1.4);
}

.ch-scale-1-5 > *, .scale-1-5 {
    transform: scale(1.5, 1.5);
}

.ch-scale-1-6 > *, .scale-1-6 {
    transform: scale(1.6, 1.6);
}

.ch-scale-1-7 > *, .scale-1-7 {
    transform: scale(1.7, 1.7);
}

.ch-scale-1-8 > *, .scale-1-8 {
    transform: scale(1.8, 1.8);
}

.ch-scale-1-9 > *, .scale-1-9 {
    transform: scale(1.9, 1.9);
}



.ch-scale-2 > *, .scale-2 {
    transform: scale(2, 2);
}

.ch-scale-2-1 > *, .scale-2-1 {
    transform: scale(2.1, 2.1);
}

.ch-scale-2-2 > *, .scale-2-2 {
    transform: scale(2.2, 2.2);
}

.ch-scale-2-3 > *, .scale-2-3 {
    transform: scale(2.3, 2.3);
}

.ch-scale-2-4 > *, .scale-2-4 {
    transform: scale(2.4, 2.4);
}

.ch-scale-2-5 > *, .scale-2-5 {
    transform: scale(2.5, 2.5);
}

.ch-scale-2-6 > *, .scale-2-6 {
    transform: scale(2.6, 2.6);
}

.ch-scale-2-7 > *, .scale-2-7 {
    transform: scale(2.7, 2.7);
}

.ch-scale-2-8 > *, .scale-2-8 {
    transform: scale(2.8, 2.8);
}

.ch-scale-2-9 > *, .scale-2-9 {
    transform: scale(2.9, 2.9);
}



.ch-scale-3 > *, .scale-3 {
     transform: scale(3, 3);
 }




.ch-scale-twisted-x-0 > *, .scale-twisted-x-0 {
    transform: scale(0.5, 0);
}

.ch-scale-twisted-x-1 > *, .scale-twisted-x-1 {
    transform: scale(0.5, 1);
}

.ch-scale-twisted-x-2 > *, .scale-twisted-x-2 {
    transform: scale(0.5, 2);
}

.ch-scale-twisted-x-3 > *, .scale-twisted-x-3 {
    transform: scale(0.5, 3);
}



.ch-scale-twisted-y-0 > *, .scale-twisted-y-0 {
    transform: scale(0, 0.5);
}

.ch-scale-twisted-y-1 > *, .scale-twisted-y-1 {
    transform: scale(1, 0.5);
}

.ch-scale-twisted-y-2 > *, .scale-twisted-y-2 {
    transform: scale(2, 0.5);
}

.ch-scale-twisted-y-3 > *, .scale-twisted-y-3 {
    transform: scale(3, 0.5);
}






.ch-circle-bullet > *, .circle-bullet {
    list-style-type: circle;
}

.ch-disc-bullet > *, .disc-bullet {
    list-style-type: disc;
}


.ch-square-bullet > *, .square-bullet {
    list-style-type: square;
}

.ch-without-bullet > *, .without-bullet {
    list-style-type: none;
}
