/**
   [ FACTORISATION DU CSS DE THEME. ]

    Principe : créer des themes.
 */



.ch-c-b > *, .c-b {
    color: blue;
}

.ch-c-lb > *, .c-lb {
    color: #004C99;
}

.ch-c-g > *, .c-g {
    color: green;
}

.ch-c-r > *, .c-r {
    color: red;
}

.ch-c-lr > *, .c-lr {
    color: #DC143C;
}

.ch-c-y > *, .c-y {
    color: yellow;
}

.ch-c-o > *, .c-o {
    color: orange;
}

.ch-c-w > *, .c-w {
    color: white;
}

.ch-c-bl > *, .c-bl {
    color: black;
}






.ch-b-b > *, .b-b {
    background-color:blue;
}

.ch-b-lb > *, .b-lb {
    background-color: #004C99;
}

.ch-b-g > *, .b-g {
    background-color: green;
}

.ch-b-r > *, .b-r {
    background-color: red;
}

.ch-b-lr > *, .b-lr {
    background-color: #DC143C;
}

.ch-b-o > *, .b-o {
    background-color: orange;
}

.ch-b-y > *, .b-y {
    background-color: yellow;
}

.ch-b-w > *, .b-w {
    background-color: white;
}

.ch-b-lw > *, .b-lw {
    background-color: rgba(255,255,255, 0.5);
}



.ch-b-lg > *, .b-lg {
    background-color: rgba(220,220,220, 0.5);
}

.ch-b-bl > *, .b-bl {
    background-color: black;
}