<<parent PageView>
<<block css>
    <style>
        #maHomeView {
            border: 2px solid blue;
            margin: 10px;
            padding: 10px;
        }
    </style>
    <<ablock css>
<</block>
<<block body>
    <div id="maHomeView">
        Vous êtes dans la HomeView.
        <<for ep.set : set2>
            <br>
            Loop.
            <<for set2 : e>
                <div>
                    Valeur <<val e>.
                </div>
            <</for>
        <</for>
        <<if ep.isConnected>
            Est connecté !
        <<else>
            N'est pas connecté !
        <</if>
        <<if ep.isConnected>

        <</if>
        <<if ep.isConnected>
            Est connecté !
        <</if>
        <<ifnot ep.isConnected>
            N'est pas connecté !
        <</ifnot>
        <a href='<<route test2:3:4>'>
            Lien vers le test2 : 3 : 4.
        </a>
        <a href='<<route test2:#cr.id:#ep.set.1.0>'>
            Lien vers le test2 : <<val cr.id> : <<val ep.set.1.0>.
        </a>
        <<ternary ep.isConnected ? Est connecté! : N'est pas connecté!>
    </div>
<</block>