<<parent PageView>
<<block css>
    <style>
        #maHomeView {
            border: 2px solid blue;
            margin: 10px;
            padding: 10px;
        }
    </style>
<</block>
<<block body>
    <div id="maHomeView">
        Vous êtes dans la HomeView.
        <<for ep.set : set2>
            <br>
            Loop index=<<val for.index>.
            <<for   set2 : e  >
                <div>
                    Loop -> valeur=<<val e> | index=<<val for.index> | taille=<<val for.size>
                    | isFirstIteration=<<val for.isFirstIteration> | isLastIteration=<<val for.isLastIteration> |
                    index du scope = <<val for.scope.index>.
                    <<if for.isFirstIteration>
                        Première itération.
                     <<else>
                            <<if for.isLastIteration>
                                Dernière itération.
                            <</if>
                    <</if>
                </div>
            <</for>
        <</for>
        <<for 1.. 11    : e>
            <div>
                Sequence -> valeur <<val e>.
            </div>
        <</for>
        <<if ep.isConnected>
            Est connecté !
        <<else>
            N'est pas connecté !
        <</if>
        <<if ep.isConnected>

        <</if>
        <<if ep.isConnected>
            Est connecté !
        <</if>
        <<ifnot ep.isConnected>
            N'est pas connecté !
        <</ifnot>
        <a href='<<route test2:3:4>'>
            Lien vers le test2 : 3 : 4.
        </a>
        <a href='<<route test2:#cr.id:#ep.set.1.0>'>
            Lien vers le test2 : <<val cr.id> : <<val ep.set.1.0>.
        </a>
        <<ternary ep.isConnected ? Est connecté!   : N'est pas connecté!    >
    </div>
<</block>